@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --color-primary: #2563eb; --color-secondary: #0891b2; --color-accent: #f59e0b; }
.bg-primary { background-color: var(--color-primary); }
.bg-accent { background-color: var(--color-accent); }
.text-primary { color: var(--color-primary); }